<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      Contato
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Envie-nos uma mensagem</ion-list-header>
    <ion-item>
      <ion-icon name="mail" item-left></ion-icon>
      contato@waypark.tech
    </ion-item>
  </ion-list>
</ion-content>
