<ion-header>
  <ion-navbar>
  	<button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      Sobre o WayPark
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center class="about">
	<img src="img/logo-full.png" >
	<br>
  <div text-center>
    <p>WayPark é o aplicativo pelo qual você pode pagar pelo uso de estacionamentos de uma forma rápida e prática. Compre créditos, ative tickets e acompanhe o histórico da sua conta, tudo pelo app.</p>
  </div>
</ion-content>
