<ion-header>
  <ion-navbar>
  	<button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      Comprar créditos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center class="cash">
	<form (ngSubmit)="purchase()" #cashForm="ngForm">
    <ion-item>
      <ion-label>Selecione o Valor</ion-label>
      <ion-select [(ngModel)]="purchaseParams.value" name="value">
        <ion-option value="10">R$ 10,00</ion-option>
        <ion-option value="20">R$ 20,00</ion-option>
        <ion-option value="30">R$ 30,00</ion-option>
      </ion-select>
    </ion-item>
    <br>

    <div>
        <p danger *ngFor="let error of errors" ion-item class="item">
            {{ error }}
        </p>
    </div>
    <button ion-button class="submit-btn" type="submit">Comprar</button>
    <br>
    <ion-spinner *ngIf="loading"></ion-spinner>
  </form>
</ion-content>
