<ion-menu [content]="content">

  <ion-toolbar text-center style="padding: 20px 0">
    <br>
    <img src="img/logo-white.png" style="height: 100px">
    <br>
    <span style="color: #fff; font-size: 14px; margin-top: 5px; margin-bottom: 8px; display: inline-block;">AGENTE DE TRÂNSITO</span>
    <div *ngIf="agent">
      <span style="color: #fff;">
      {{ agent.name }}
      </span>
    </div>
    <br>
  </ion-toolbar>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon item-left class="icon-md icon-md-secondary item-icon ion-md-{{ p.icon }}"></ion-icon>
        {{p.title}}
      </button>
      <button ion-item (click)="logout()">
        <ion-icon item-left class="icon-md icon-md-secondary item-icon ion-md-exit"></ion-icon>
        Sair
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav id="nav" #nav [root]="rootPage" #content swipe-back-enabled="true"></ion-nav>