<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>WayPark Agente</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center class="home">
  <div *ngIf="active == false" >
    <form id="plate-form" (ngSubmit)="submit()" #plateForm="ngForm" ion--list>
      <h2>Consultar Placa</h2>
      <ion-item>
        <ion-label floating>Placa</ion-label>
        <ion-input [(ngModel)]="plateParams.code" name="plate"></ion-input>     
      </ion-item>
      <small>Informe a placa no formato <b>AAA-0000</b></small>
      <br><br>
       <button ion-button class="submit-btn" type="submit" [disabled]="!plateForm.valid" [disabled]="connected == false">Consultar</button>
      <br><br>
      <ion-spinner *ngIf="loading"></ion-spinner>
    </form>
  </div>

  <button ion-button secondary (click)="createPenalty()">Multar</button>

  <ion-card *ngIf="currentActivation">
    <ion-card-header>
      <ion-icon name="done-all"></ion-icon>
      <span>Ticket Ativo</span>
    </ion-card-header>
    <ion-card-content>
      <span>{{ currentActivation.ticket.name }}</span>
      <br>
      <span>{{ currentActivation.remaining }}</span> minutos restantes
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="lastActivation">
    <ion-card-header>
      <ion-icon name="close"></ion-icon>
      <span>Nenhum ticket ativo</span>
    </ion-card-header>
    <ion-card-content>
      <span></span>
      <span>Último ticket ativado: {{ lastActivation.ticket.name }}</span>
      <br>
      <span>Expirado há {{ lastActivation.remaining }}</span>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="lastActivation == false && currentActivation == false">
    <ion-card-header>
      <ion-icon name="close"></ion-icon>
      <span>Nenhum ticket ativo</span>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="foundActivations.length > 0">
    <ion-card-header>
      <span>Histórico recente</span>
    </ion-card-header>
    <ion-list>
      <button *ngFor="let activation of foundActivations" ion-item class="item">
        <ion-icon item-left class="icon-md icon-md-secondary item-icon" [class.ion-md-time]="activation.remaining > 0" [class.ion-md-done-all]="activation.remaining <= 0"></ion-icon>
        {{activation.ticket.name}} - {{activation.created_at}}
      </button>
    </ion-list>
  </ion-card>

  <ion-list id="activation-form" *ngIf="active">
    <h3>{{ activation.ticket.name }} ativado</h3>
    <h4>{{ activation.plate.code }}</h4>
    <span>{{ activation.remaining }} minutos</span>
    <br>
    <span>restantes</span>
    <br>
    <button danger hidden>Desativar</button>

  </ion-list>

 
  <ion-item style="text-align: center"  *ngIf="connected == false">
    <ion-badge danger>
      Conexão perdida com o servidor
    </ion-badge>
    <br><br>
    <button light (click)="check()">Tentar novamente</button>
  </ion-item>

  <div>
      <p danger *ngFor="let error of errors" ion-item class="item">
          {{ error }}
      </p>
  </div>

  <ion-item hidden>
    <ion-label> Renovar ao exceder tempo</ion-label>
    <ion-toggle checked="true"></ion-toggle>
  </ion-item>

</ion-content>
