<ion-content class="has-header" padding text-center class="login">
    <br>
    <img src="img/logo-alt.png" style="height: 140px">
    <br><br>
    <span style="color: #E53D00; font-size: 16px">AGENTE DE TRÂNSITO</span>
    <br>
    <form [formGroup]="loginForm" (submit)="login(loginForm.value)" style="padding-top: 50px">
        <ion-list>
            <ion-item>
                <ion-label  stacked-label>E-mail</ion-label>
                <ion-input type="text" [formControl]="loginForm.controls['username']" ngControl="username"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked-label>Senha</ion-label>
                <ion-input type="password" [formControl]="loginForm.controls['password']" ngControl="password"></ion-input>
            </ion-item>
            <ion-item hidden>
                <ion-label stacked-label>Lembrar</ion-label>
                <ion-checkbox dark [formControl]="loginForm.controls['rememberMe']" ngControl="rememberMe"></ion-checkbox>
            </ion-item>
        </ion-list>
        <div>
            <p danger *ngFor="let error of errors" ion-item class="item">
                {{ error }}
            </p>
        </div>
        <div>
            <button block type="submit">Login</button>
            <br>
            <ion-spinner *ngIf="loading"></ion-spinner>
        </div>
    </form>
</ion-content>